@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root{
    --marineBlue: #043353;
    --lightBlue:#18A4E0;
    --nordicBreeze: #D3DDE6;
}
.formatoTablaTitulo{
    width: 200px;
    height: 50px;
    text-align: center;
    background: #cfd8dc;
}
.formatoTabla{
    width: 200px;
    height: 50px;
    text-align: center;
    background: white;
}

.bg-marineblue p{
    font-family: 'Acme',sans-serif;
    color: white;
    padding-top: 10px;
    font-size: 25px;
}

.bg-marineblue{
    background-color: var(--marineBlue);
    height: 70px;
    transition: 0.2s;
}

.tablatransicion{
    width: 100px;
    height: 25px;
    text-align: center;
    background: #4db6ac;
}
.tablatransicionHijos{
    width: 100px;
    height: 25px;
    text-align: center;
    background: white;
    border: 1px solid #bdbdbd;
}
